/* Resetting margins and paddings */

/* body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f7fa;
  color: #2c3e50;
  line-height: 1.5;
} */

/* Flex layout for the app */
.main-layout {
  display: flex;
  height: 100vh;
}

/* Adding rounded corners and hover effects */
.sidebar {
  width: 250px;
  background-color: var(--sidebarBg);
  color: var(--sidebarText);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: background-color 0.3s;
}

.sidebar button:hover {
  background-color: var(--buttonHover);
}

.content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}
